body {background-image:url(../pictures/home.jpg);background-repeat:no-repeat;background-size:cover;overflow:hidden;}
nav {width:100%;margin-left:600px;margin-top:20px;height:150px;}
nav ul {list-style:none;}
nav li {float:left;margin-right:20px;padding-left:50px;padding-right:50px;padding-top:20px;padding-bottom:20px;}
nav li a {text-decoration:none;font-size:2.0em;color:#006400;}
a.active {color:#ffffff;border-top:1px solid #000080;border-bottom:1px solid #000080;}
nav a:hover {color:#ffffff;transition:1s color linear;border-top:1px solid #000080;border-bottom:1px solid #000080;}
#navi {margin-left:750px;font-size:3em;text-decoration:none;border:1px solid #000000;border-radius:80px;padding:20px 100px 20px 100px;color:#006400;}
span a:hover {color:#ffffff;background-color:#808080;transition:1s color linear;}
@media only screen and (max-width: 1024px) {
body {overflow:auto;}
}
@media only screen and (max-width: 768px) {
body {overflow:auto;}
}
